/* Преимущества */

.advances-item-title {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.advances-item {
  line-height: 1.71;
  color: var(--main-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advances-set {
  display: flex;
  padding: 0;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.advances-set-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.thumb {
  width: 270px;
  height: 120px;
  background-color: var(--team-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
